{% include 'base.html' %}
{% block content %}

    <h1>OPEN OPPORTUNITY:</h1>
    {% if is_manager %}

        {% for key, value in obj_list.items %}

            <a href="{% url 'profile-details' key.user.id %}"><h2>{{ key.first_name }}  {{ key.last_name }}</h2></a>
            {% if value %}
                {% for obj in value %}
                    <hr>
                    <h4 style="margin: 0;">Title:{{obj.title}} || description:{{obj.description}} || customer:{{obj.customer}} || expected turnover: {{obj.expected_turnover}} || created by {{obj.created_by}}</h4>
                    <a href="{% url 'opportunity-detail' obj.pk %}">See Opportunity Details</a>
                    <hr>

                {% endfor %}
            {% else %}
                <h3>No Opportunity</h3>
            {% endif %}

        {% endfor %}

    {% else %}

        {% for obj in obj_list %}
            <hr>
            <h4 style="margin: 0;">Title:{{obj.title}} || description:{{obj.description}} || customer:{{obj.customer}} || expected turnover: {{obj.expected_turnover}} || created by {{obj.created_by}}</h4>
            <a href="{% url 'opportunity-detail' obj.pk %}">See Opportunity Details</a>
            <hr>

        {% endfor %}

    {% endif %}

    <h1>WIN OPPORTUNITY:</h1>

    {% if is_manager %}

        {% for key, value in win_obj_list.items %}

        <a href="{% url 'profile-details' key.user.id %}"><h2>{{ key.first_name }}  {{ key.last_name }}</h2></a>
            {% if value %}
                {% for obj in value %}
                    <hr>
                    <h4 style="margin: 0;">Title:{{obj.title}} || description:{{obj.description}} || customer:{{obj.customer}} || expected turnover: {{obj.expected_turnover}} || created by {{obj.created_by}}</h4>
                    <a href="{% url 'opportunity-detail' obj.pk %}">See Opportunity Details</a>
                    <hr>

                {% endfor %}
            {% else %}
                <h3>No Opportunity</h3>
            {% endif %}

    {% endfor %}

    {% else %}

        {% for obj in win_obj_list %}
            <hr>
            <h4 style="margin: 0;">Title:{{obj.title}} || description:{{obj.description}} || customer:{{obj.customer}} || expected turnover: {{obj.expected_turnover}} || created by {{obj.created_by}}</h4>
            <a href="{% url 'opportunity-detail' obj.pk %}">See Opportunity Details</a>
            <hr>

        {% endfor %}

    {% endif %}


    <h1>LOST OPPORTUNITY:</h1>

    {% if is_manager %}

        {% for key, value in lost_obj_list.items %}

        <a href="{% url 'profile-details' key.user.id %}"><h2>{{ key.first_name }}  {{ key.last_name }}</h2></a>
            {% if value %}
                {% for obj in value %}
                    <hr>
                    <h4 style="margin: 0;">Title:{{obj.title}} || description:{{obj.description}} || customer:{{obj.customer}} || expected turnover: {{obj.expected_turnover}} || created by {{obj.created_by}}</h4>
                    <a href="{% url 'opportunity-detail' obj.pk %}">See Opportunity Details</a>
                    <hr>

                {% endfor %}
            {% else %}
                <h3>No Opportunity</h3>
            {% endif %}

    {% endfor %}

    {% else %}

        {% for obj in lost_obj_list %}
            <hr>
            <h4 style="margin: 0;">Title:{{obj.title}} || description:{{obj.description}} || customer:{{obj.customer}} || expected turnover: {{obj.expected_turnover}} || created by {{obj.created_by}}</h4>
            <a href="{% url 'opportunity-detail' obj.pk %}">See Opportunity Details</a>
            <hr>

        {% endfor %}

    {% endif %}

{% endblock content %}