<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    body{
        background-color: #c3c3c3;
    }
  </style>
</head>
<body>
    <div style="display: flex; justify-content: space-around">
      <div style="display: flex; gap: 30px;">
        <a href="{% url 'lead-list' %}">LEADS</a>
        <a href="{% url 'lead-create' %}">New Lead</a>
        <a href="{% url 'customer-create' %}">New Customer</a>
        <a href="{% url 'opportunity-list' %}">Opportunities</a>
        <a href="{% url 'customer-list' %}">Customers</a>
        <a href="{% url 'create-salesman' %}">New Salesman</a>
      </div>
        Login as: {{ request.user }}

        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">SignUp</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
      <div>

      </div>
    </div>
    {% block content %}
    {% endblock content %}

</body>
</html>